<div class="html">
    <div class="container">
        <h1 class="text-center my-5">Index</h1>
        
        <div class="text-center my-5">
            <button class="btn btn-primary col-md-4 py-5" 
                routerLink="/verCrudVehiculo">Cliente</button>
        </div>

        <div class="text-center my-5">
            <button class="btn btn-primary col-md-4 py-5" 
                routerLink="/verCrudVehiculo">Historial Servicio</button>
        </div>

        <div class="text-center my-5">
            <button class="btn btn-primary col-md-4 py-5" 
                routerLink="/verCrudVehiculo">Servicio</button>
        </div>

        <div class="text-center my-5">
            <button class="btn btn-primary col-md-4 py-5" 
                routerLink="/verCrudVehiculo">Vehículo</button>
        </div>
    </div>
</div>
